.box-thoughts {
  width: 280px;
  height: 320px;

  border-radius: 0.625rem;
  background: #111826;
  border: 1px solid #1d5a73;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-thoughts > header {
  display: flex;
  align-items: center;
  gap: 0.225rem;
  padding: 1rem;
}

header > .box-img {
  width: 42px;
}

.box-img > img {
  width: 36px;
}

.autoria {
  color: #d9ae79;
  font-size: 1.5rem;
  word-wrap: break-word;
}

.pensamento .autoria {
  word-wrap: break-word;
}

.box-content {
  padding: 1rem;
  height: 50%;
}

.content {
  font-size: 1rem;
  color: #d9ae79;
  opacity: 0.8;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  padding: 1rem;
}

.button-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.heart-ativo-icon {
  color: #e52e4d;
}
.heart-inativo-icon,
.square-pen,
.trash-2 {
  color: #1d5a73;
}
