#section-list-thoughts {
  min-height: calc(100dvh - 72px - 72px);
  /* border: 2px solid red; */

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 70vh;
}

header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid red; */
}

header > h1 {
  color: #D9AE79;
  font-size: 2rem;
}

.search-thoughts {
  width: 420px;
  padding: 0.625rem;

  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;

  background: #183140;
  border-radius: 0.625rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.search-thoughts img {
  padding-right: 1rem;
}

.filter {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #E7BD75;

  border: none;
  outline: 0;

  padding-left: 1rem;
  background: #183140;
  border-radius: 0.625rem;
}

input::placeholder {
  color: #D9AE79;
  opacity: .6;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botoes button {
  margin-left: 10px;
  margin-right: 2px;
}

.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 1rem;
}

.sem-pensamentos {
  text-align: center;
  padding: 2rem 0 5rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 679px) {
  .container {
    display: flex;
    justify-content: center;
  }

  header {
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem;
  }

  .search-thoughts {
    width: 320px;
    padding: 0.625rem;
  }

  .search-thoughts img {
    padding-right: 0.225rem;
  }
}
