header {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #111826;

  height: 72px;
  padding: 1rem;
}

.container {
  max-width: 1440px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 56px;
  height: auto;

  border-radius: 8px;
}

.logo-text {
  color: #D9AE79;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul:hover > :not(:hover) {
  opacity: .6;
}

li {
  color: #D9AE79;
  cursor: pointer;
  padding: 0.625rem;

  transition: all .7s;
}
